bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.backup
*.log
*.sql
*.cache
*.pdb
*.ilk
*.meta
*.obj
*.iobj
*.ipdb
*.iipdb
*.dll
*.exe
*.app
*.apk
*.aab
*.ipa
*.xap
*.appx
*.appxbundle
*.msix
*.msixbundle
*.nupkg
*.snk
*.pfx
*.publishsettings
*.vsix
*.vscode
*.code-workspace
*.sln
*.csproj
*.vbproj
*.fsproj
*.xproj
*.proj
*.sln.user
*.csproj.user
*.vbproj.user
*.fsproj.user
*.xproj.user
*.proj.user
*.sln.ide
*.sln.ide.*
*.sln.cache
*.sln.config
*.sln.dotsettings
*.sln.dotsettings.user
*.sln.dotsettings.shared
publish/
